body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}
/* ===== 공통 레이아웃 ===== */
.col-md {
  padding-left: 0px;
  padding-right: 0px;
}
.main {
  width: 100%;
  padding: 0px auto;
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}
.container {
  width: 100%;
  padding: 0px;
}
.col-4 {
  padding-left: 0px;
  padding-right: 0px;
}

/* ===== 폰트 ===== */
@font-face {
  font-family: 'NanumMyeongjo';
  src: local('NanumMyeongjo'), url(../fonts/Nanum_Myeongjo/NanumMyeongjo-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'NotoSansKR';
  src: local('NotoSansKR'), url(../fonts/Noto_Sans_KR/NotoSansKR-Regular.otf) format('truetype');
}

/* ===== 페이드인 ===== */
.fade-section {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-visible {
  opacity: 1;
  transform: translateY(0);
}

/* ===== 페이드인 ===== */
.music-btn {
  position: fixed;
  top: 16px;
  right: 16px;
  z-index: 9999;
  background: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 18px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.music-btn:hover {
  background: rgba(255, 255, 255, 1);
}